.card-detail-section {
    #image {
        max-height: 20rem;
    }

    #title {
        font-size: 2rem;
        font-weight: 600;
    }
    #description{
        font-size: 1.2rem;
        font-weight: 400;
    }
}