.header-section {
    ul {
        li {
            font-size: 1.2rem;
            font-weight: 600;
        }
    }

    .create-card-button {
        background-color: #007bff;

        &:hover {
            background-color: #28a745;
        }
    }
}