.card-list-section {
    #card-list {
        .image-wrap {
            padding-top: 100%;
        }

        @mixin line-clamp($lines) {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: $lines;
            line-clamp: $lines;
            overflow: hidden;
        }

        .title {
            @include line-clamp(1);
            font-size: 1.5rem;
        }

        .description {
            @include line-clamp(3);
            font-size: 1.1rem;
            color: grey;
        }
    }

    .explore-button {
        background-color: #007bff;
        color: #fff;
        border: 0.125rem solid #155724;

        &:hover {
            background-color: #28a745;
        }
    }

    #no-card {
        margin-top: calc(50vh - 16rem);

        span {
            font-size: 2rem;
            font-weight: 600;
        }

        button {
            font-size: 1.5rem;
            font-weight: 400;
            background-color: #007bff;

            &:hover {
                background-color: #28a745;
            }
        }
    }
}