<div class="px-3 px-md-4 px-xl-5 py-2 container-1 mx-auto mw-100 card-list-section">
    <div class="main-loader">
        <img src="../../../assets/images/spinner-primary.svg" alt="loader" class="d-block mx-auto">
    </div>
    <div class="d-none">
        <img src="../../../assets/images/image-placeholder.svg" alt="placeholder-image" id="placeholder-image">
        <img src="../../../assets/images/edit.svg" alt="edit" id="edit">
        <img src="../../../assets/images/delete.svg" alt="delete" id="delete">
    </div>
    <div id="card-list-wrap">
        <ul id="card-list"
            class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 pb-5">
        </ul>
        <div id="no-card" class="d-none">
            <span class="d-block text-center">
                Oops! No Cards Here 😕🙅‍♂️
            </span>
            <button class="text-white px-3 py-2 d-block mx-auto rounded-2 mt-3">
                Create a card
            </button>
        </div>
    </div>
</div>